<h1>Puutteet</h1>
<p>Listan järjestystä voi muokata painalla sarakkeen nimeä.<br/>
  Pääset muokkamaan tietoja klikkaamalla puutteen tekstiä.<br>
  Voit myös etsiä listalta jotain tiettyä puutetta.</p>

<% unless current_user.nil? %>
    <%= link_to 'Lisää uusi puute', new_need_path, class:'btn btn-primary' %>
<% end %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= link_to 'Mökki', needs_path(order:"cabin") %></th>
      <th><%= link_to 'Lisääjä', needs_path(order:"user") %></th>
      <th><%= link_to 'Tiedot', needs_path(order:"info") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
      <tr>
        <td><%= need.cabin_name(need.cabin_id) %></td>
        <td><%= need.user_name(need.user_id) %></td>
        <td><%= link_to need.info, edit_need_path(need) %></td>
        <td><%= link_to 'Poista', need, method: :delete, data: { confirm: 'Oletko varma poistosta?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>