<%= bootstrap_form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.date_field :start_date, label: "Menopäivä" %>
    <%= f.date_field :end_date, label: "Lähtöpäivä" %>
    <%= f.select :cabin_id, options_from_collection_for_select(@cabins, :id, :name, selected: @visit.cabin_id),label: "Valitse mökki" %>
    <%= f.submit "Tallenna" %>
<% end %>
