<h1>Listing all visits</h1>

<table>
  <thead>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Cabin</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @visits.each do |visit| %>
          <tr>
            <td><%= visit.start_date %></td>
            <td><%= visit.end_date %></td>
            <td><%= visit.cabin_name(visit.cabin_id) %></td>
            <td><%= visit.user_name(visit.user_id) %></td>
            <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
            <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', visits_path %>
