<h1>Listing Future visits</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Cabin</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <% if visit.start_date >= Date.today %>
           <tr>
            <td><%= visit.start_date %></td>
            <td><%= visit.end_date %></td>
            <td><%= visit.cabin_name(visit.cabin_id) %></td>
            <td><%= visit.user_name(visit.user_id) %></td>
            <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
            <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% unless current_user.nil? %>
    <%= link_to 'All visits', all_visits_path, class:'btn btn-primary' %><br/><br/>
    <%= link_to 'New Visit', new_visit_path, class:'btn btn-primary' %>
<% end %>
