<h1>Tulevat mökkeilyt</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Menopäivä</th>
      <th>Lähtöpäivä</th>
      <th>Mökki</th>
      <th>Kuka</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <% if visit.start_date >= Date.today %>
           <tr>
            <td><%= l visit.start_date %></td>
            <td><%= l visit.end_date %></td>
            <td><%= visit.cabin_name(visit.cabin_id) %></td>
            <td><%= visit.user_name(visit.user_id) %></td>
            <td><%= link_to 'Muokkaa', edit_visit_path(visit), class:'btn btn-primary' %></td>
            <td><%= link_to 'Poista', visit, method: :delete, data: { confirm: 'Oletko varma?' }, class:'btn btn-danger' %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% unless current_user.nil? %>
    <%= link_to 'Vierailuhistoria', all_visits_path, class:'btn btn-primary' %>
    <%= link_to 'Lisää vierailu', new_visit_path, class:'btn btn-primary' %>
<% end %>
