<h1>Tarvikkeet</h1>
<p>Listan järjestystä voi muokata painalla sarakkeen nimeä.<br/>
  Pääset muokkamaan tietoja klikkaamalla tarvikkeen tekstiä.<br>
  Voit myös etsiä listalta jotain tiettyä tarviketta.</p>

<% unless current_user.nil? %>
    <%= link_to 'Lisää tarvike', new_supply_path, class:'btn btn-primary' %>
<% end %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= link_to 'Mökki', supplies_path(order:"cabin") %></th>
      <th><%= link_to 'Lisääjä', supplies_path(order:"user") %></th>
      <th><%= link_to 'Tiedot', supplies_path(order:"info") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @supplies.each do |supply| %>
      <tr>
        <td><%= supply.cabin_name(supply.cabin_id) %></td>
        <td><%= supply.user_name(supply.user_id) %></td>
        <td><%= link_to supply.info, edit_supply_path(supply)  %></td>
        <td><%= link_to 'Poista', supply, method: :delete, data: { confirm: 'Oletko varma poistosta?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>