<h1>Listing supplies</h1>

<table>
  <thead>
    <tr>
      <th>Cabin</th>
      <th>User</th>
      <th>Info</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @supplies.each do |supply| %>
      <tr>
        <td><%= supply.cabin_name(supply.cabin_id) %></td>
        <td><%= supply.user_name(supply.user_id) %></td>
        <td><%= supply.info %></td>
        <td><%= link_to 'Edit', edit_supply_path(supply) %></td>
        <td><%= link_to 'Destroy', supply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% unless current_user.nil? %>
    <%= link_to 'New Supply', new_supply_path %>
<% end %>