<p id="notice"><%= notice %></p>

<p>
  <strong>Info:</strong>
  <%= @supply.info %>
</p>

<p>
  <strong>Cabin:</strong>
  <%= @supply.cabin_id %>
</p>

<%= link_to 'Edit', edit_supply_path(@supply) %> |
<%= link_to 'Back', supplies_path %>
