<%# add navigation links to this file %>
<li class="<%= 'active' if params[:controller] == 'cabins' %>"><%= link_to 'Etusivu', cabins_path %></li>
<li class="<%= 'active' if params[:controller] == 'needs' %>"><%= link_to 'Puutteet', needs_path %></li>
<li class="<%= 'active' if params[:controller] == 'supplies' %>"><%= link_to 'Tarvikkeet', supplies_path %></li>
<li class="<%= 'active' if params[:controller] == 'visits' %>"><%= link_to 'Mökkireissut', visits_path %></li>
<% unless current_user.nil? %>
    <li><%= link_to 'Kirjaudu ulos', logout_path, method: :delete %></li>
<% else %>
  <li><%= link_to 'Kirjaudu', login_path %></li>
<% end %>

