<!DOCTYPE html>
<html>
<head>
  <title>Cabinmaster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <div id="notice"><%= notice %></div>
</head>
<body>
<div class="navbar">
  <%= link_to 'cabins', cabins_path %>
  <%= link_to 'needs', needs_path %>
  <%= link_to 'supplies', supplies_path %>
  <%= link_to 'visits', visits_path %>
  <% unless current_user.nil? %>
      <%= link_to 'logout', logout_path, method: :delete %>
  <% else %>
      <%= link_to 'login', login_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
